/* Popups */
.tippy-tooltip {
  min-width: 100px;
  -webkit-font-smoothing: auto;
  transition-duration: 200ms;
  margin-left: 60px;
}

.tippy-tooltip > .tippy-tooltip-content {
  border: 1px solid var(--ls-border-color);
  border-radius: 8px;
  overflow: hidden;
  background: var(--ls-primary-background-color);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.tippy-wrapper,
.tippy-tooltip {
  background: transparent;
  font-weight: unset !important;
}

.tippy-tooltip-content > .tippy-wrapper {
  background: var(--ls-primary-background-color);
}

.tippy-wrapper {
  padding-bottom: 32px !important;
}

.tippy-popper .arrow-regular {
  display: none; /* Hide the arrow */
}

// .tippy-tooltip-content > .pr-3 {
//   padding-left: 0.75rem;
// }

// .tippy-tooltip-content > .tippy-wrapper.overflow-y-auto {
//   overflow: visible;
//   display: flex;
//   flex-flow: column;

//   > div:last-of-type {
//     overflow: auto;
//     height: -webkit-fill-available;
//     padding: 1.5em 1em 1em;
//     min-width: 450px;
//   }
// }

// /* FIXME: this is a hack to remove scroll passed to scroll bottom issue */
// .tippy-popper[style*="visibility: hidden"] {
//   display: none;
// }

/* Page preview title */
// .tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) {
//   display: inline-flex;
//   align-items: center;
//   position: absolute;
//   left: -0.5em;
//   top: -0.75em;
//   z-index: 2;
//   padding: 2px 1em 2px 1em !important;
//   background: var(--ct-query-header-background);
//   white-space: nowrap;
//   font-family: var(--ct-page-title-font-family);
//   font-weight: 600;
//   color: var(--ct-query-header-color);
//   font-style: var(--ct-inline-code-font-style) !important;
//   border: 2px solid #000;
//   border-radius: 4px;
// }

// .tippy-wrapper > :is(div:first-child, h2:first-child, .block-parents) a {
//   color: var(--ct-query-header-color);
// }

// Hide add button for page preview
// .tippy-popper .add-button {
//   display: none;
// }

// Group Labels in Popup
// .ui__ac-group-name {
//   color: var(--ls-secondary-text-color) !important;
// }
