// Change these from "block" to "none" in order to hide different elements of the UI
:root {
  --display-search-button: flex;
  --display-arrow-navigation: block;
  --display-help-button: block;
  --display-recent-pages: block;
}
