@import "fonts.scss";
// fonts need to be the first one
@import "root.scss";
@import "views.scss";
@import "headings.scss";
@import "blocks.scss";
@import "embed.scss";
@import "miscs.scss";
@import "popups.scss";
@import "queries.scss";
@import "markers.scss";
@import "graph.scss";
@import "theme_dark.scss";
@import "theme_light.scss";

:root {
  --ls-block-bullet-threading-width: 2px;
}

// Custom code
a.nav-left,
a.nav-right,
#search-button,
.cp__sidebar-help-btn {
  display: none;
}

// Border under heder
.cp__header::after,
.cp__right-sidebar-topbar::after {
  display: none;
}

.recent {
  display: none !important;
}

#head a.button {
  color: var(--ls-primary-text-color);
}

// Fix Left Sidebar Icon
.is-electron.is-mac .cp__header {
  padding-left: 0px;
}

.is-electron.is-mac.is-fullscreen .cp__header {
  padding-left: 78px;
}
