@import "fonts.scss";
// fonts need to be the first one
@import "root.scss";
@import "views.scss";
@import "headings.scss";
@import "blocks.scss";
@import "embed.scss";
@import "miscs.scss";
@import "popups.scss";
@import "queries.scss";
@import "markers.scss";
@import "graph.scss";
@import "theme_dark.scss";
@import "theme_light.scss";
@import "SETTINGS.scss";

:root {
  --ls-block-bullet-threading-width: 2px;
}

// Custom code
.cp__sidebar-help-btn {
  display: var(--display-help-button);
}

a.nav-left,
a.nav-right {
  display: var(--display-help-button);
}

#search-button {
  display: var(--display-search-button);
}

.recent {
  display: var(--display-recent-pages);
}

// Border under heder
.cp__header::after,
.cp__right-sidebar-topbar::after {
  display: none;
}

#head a.button {
  color: var(--ls-primary-text-color);
}

// Fix Left Sidebar Icon
.is-electron.is-mac .cp__header {
  padding-left: 78px;
}

.is-electron.is-mac.is-fullscreen .cp__header {
  padding-left: 0px;
}

// Fix vertical lines
.block-children {
  transition: border-color 0.2s;
}

.block-children:focus-within {
  border-color: transparent;
}
