@import "fonts.scss";
// fonts need to be the first one
@import "root.scss";
@import "views.scss";
@import "headings.scss";
@import "blocks.scss";
@import "embed.scss";
@import "miscs.scss";
@import "popups.scss";
@import "queries.scss";
@import "markers.scss";
@import "graph.scss";
@import "theme_dark.scss";
@import "theme_light.scss";

:root {
  --ls-block-bullet-threading-width: 2px;
}

// Custom code
a.nav-left,
a.nav-right,
#search-button {
  display: none;
}

#search-button {
  display: none !important;
}

.recent {
  display: none !important;
}

#head a.button {
  color: var(--ls-primary-text-color);
}
